<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="COACH_MEEntities" connectionString="metadata=res://*/COACH_ME.csdl|res://*/COACH_ME.ssdl|res://*/COACH_ME.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.59.122.206;initial catalog=COACH_ME;persist security info=True;user id=coach_me;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>