@model COACHME.MODEL.CUSTOM_MODELS.CONTAINER_MODEL
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";

}
<div class="m-content">

    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="m-pricing-table-2">
                <div class="m-pricing-table-2__head">
                    <div class="m-pricing-table-2__title m--font-light">
                        <h1>รายละเอียดการซื้อ Package สำหรับครู</h1>
                    </div>
                    @*<div class="btn-group nav m-btn-group m-btn-group--pill m-btn-group--air" role="group">
                            <button type="button" class="btn m-btn--pill  active m-btn--wide m-btn--uppercase m-btn--bolder" data-toggle="tab" href="#m-pricing-table_content1" role="tab" aria-expanded="true">
                                Annual Plans
                            </button>
                            <button type="button" class="btn m-btn--pill  m-btn--wide m-btn--uppercase m-btn--bolder" data-toggle="tab" href="#m-pricing-table_content2" role="tab" aria-expanded="false">
                                Monthly Plans
                            </button>
                        </div>*@
                </div>
                @using (Html.BeginForm("PurchasePackage", "Purchase", FormMethod.Post, new { enctype = "multipart/form-data", ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.HiddenFor(m => m.MEMBERS.AUTO_ID, new { @id = "AUTO_ID", @name = "AUTO_ID" })

                    <div class="tab-content">
                        <div class="tab-pane active" id="m-pricing-table_content1" aria-expanded="true">
                            <div class="m-pricing-table-2__content">
                                <div class="m-pricing-table-2__container">
                                    <div class="m-pricing-table-2__items row">
                                        <div class="m-pricing-table-2__item col-lg-4">
                                            <div class="m-pricing-table-2__visual">
                                                <div class="m-pricing-table-2__hexagon"></div>
                                                <span class="m-pricing-table-2__icon m--font-info"><i class="fa flaticon-confetti"></i></span>
                                            </div>
                                            <h2 class="m-pricing-table-2__subtitle">Basic Plan</h2>
                                            <div class="m-pricing-table-2__features">
                                                <span>2 Course</span>
                                                <span>View match 10 student</span>
                                                @*<span>20 Copies</span>*@
                                                @*<span>Free Assets</span>*@
                                            </div>
                                            <span class="m-pricing-table-2__price">200</span>
                                            <span class="m-pricing-table-2__label">฿</span>
                                            <div class="m-pricing-table-2__btn">
                                                @if (TempData["Plan"].ToString() == "Basic Plan")
                                                {
                                                    <button type="button" class="btn m-btn--pill  btn-danger m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Already Purchase</button>

                                                }
                                                else if (TempData["Plan"].ToString() == "Professional Plan" || TempData["Plan"].ToString() == "Advance Plan")
                                                {
                                                    <button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Hold</button>
                                                }
                                                else
                                                {
                                                    <button type="button" data-toggle="modal" data-target="#m_modal_1" value="basic" name="btnPlan" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Purchase</button>
                                                }
                                            </div>
                                        </div>
                                        <div class="m-pricing-table-2__item col-lg-4">
                                            <div class="m-pricing-table-2__visual">
                                                <div class="m-pricing-table-2__hexagon"></div>
                                                <span class="m-pricing-table-2__icon m--font-info"><i class="fa  flaticon-rocket"></i></span>
                                            </div>
                                            <h2 class="m-pricing-table-2__subtitle">Professional Plan</h2>
                                            <div class="m-pricing-table-2__features">
                                                <span>5 Course</span>
                                                <span>Unlimited match student</span>
                                                @*<span>Unlimited Copies</span>*@
                                                @*<span>Free Assets</span>*@
                                            </div>
                                            <span class="m-pricing-table-2__price">400</span>
                                            <span class="m-pricing-table-2__label">฿</span>
                                            <div class="m-pricing-table-2__btn">
                                                @if (TempData["Plan"].ToString() == "Professional Plan")
                                                {
                                                    <button type="button" class="btn m-btn--pill  btn-danger m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Already Purchase</button>
                                                }
                                                else if (TempData["Plan"].ToString() == "Advance Plan")
                                                {
                                                    <button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Hold</button>
                                                }
                                                else
                                                {
                                                    <button type="button" data-toggle="modal" data-target="#m_modal_2" value="pro" name="btnPlan" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Purchase</button>

                                                }
                                            </div>
                                        </div>
                                        <div class="m-pricing-table-2__item col-lg-4">
                                            <div class="m-pricing-table-2__visual">
                                                <div class="m-pricing-table-2__hexagon"></div>
                                                <span class="m-pricing-table-2__icon m--font-info"><i class="fa flaticon-gift"></i></span>
                                            </div>
                                            <h2 class="m-pricing-table-2__subtitle">Advance Plan</h2>
                                            <div class="m-pricing-table-2__features">
                                                <span>10 Course</span>
                                                <span>Unlimited match student</span>
                                                @*<span>Unlimited Copies</span>*@
                                                @*<span>Free Assets</span>*@
                                            </div>
                                            <span class="m-pricing-table-2__price">500</span>
                                            <span class="m-pricing-table-2__label">฿</span>
                                            <div class="m-pricing-table-2__btn">
                                                @if (TempData["Plan"].ToString() == "Advance Plan")
                                                {
                                                    <button type="button" class="btn m-btn--pill  btn-danger m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Already Purchase</button>
                                                }
                                                else
                                                {
                                                    <button type="button" data-toggle="modal" data-target="#m_modal_3" value="advance" name="btnPlan" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Purchase</button>

                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Basic Plan  วิธีการสมัครแพ๊คเกจ </h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">


                                    <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp ชำระเงินผ่านช่องทางการโอน</h4>
                                    <h4 class="m--font-bold m--font-success"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp SCB CoachME 214-257-5878 </h4>
                                    <h4 class="m--font-bold m--font-bold">
                                        <span class="m-badge m-badge--success m-badge--dot"></span><a href="#" onclick="$('#slip_1').trigger('click')"
                                                                                                      class="m-link m--font-transform-u">&nbsp Upload หลักฐานการชำระเงิน คลิก!!!</a>
                                    </h4>
                                    <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp CoachME admin ยืนยันการสั่งซื้อ </h4>
                                    <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp ใช้งานตามสิทธิ์  </h4>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="file" name="slipImage" id="slip_1" class="btn btn-primary" style="display:none">
                                    <button type="submit" id="btnBasicPlan" name="btnPlan" value="basic" class="btn btn-secondary" style="display:none">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Professional Plan วิธีการสมัครแพ๊คเกจ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp ชำระเงินผ่านช่องทางการโอน</h4>
                                    <h4 class="m--font-bold m--font-success"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp SCB CoachME 214-257-5878 </h4>
                                    <h4 class="m--font-bold m--font-bold">
                                        <span class="m-badge m-badge--success m-badge--dot"></span><a href="#" onclick="$('#slip_2').trigger('click')"
                                                                                                      class="m-link m--font-transform-u">&nbsp Upload หลักฐานการชำระเงิน คลิก!!!</a>
                                    </h4>
                                    <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp CoachME admin ยืนยันการสั่งซื้อ </h4>
                                    <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp ใช้งานตามสิทธิ์  </h4>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="file" name="slipImage" id="slip_2" class="btn btn-primary" style="display:none">
                                    <button type="submit" id="btnProPlan" name="btnPlan" value="Pro" class="btn btn-secondary" style="display:none">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="m_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Advance Plan วิธีการสมัครแพ๊คเกจ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp ชำระเงินผ่านช่องทางการโอน</h4>
                                    <h4 class="m--font-bold m--font-success"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp SCB CoachME 214-257-5878 </h4>
                                    <h4 class="m--font-bold m--font-bold">
                                        <span class="m-badge m-badge--success m-badge--dot"></span><a href="#" onclick="$('#slip_3').trigger('click')"
                                                                                                      class="m-link m--font-transform-u">&nbsp Upload หลักฐานการชำระเงิน คลิก!!!</a>
                                    </h4>
                                    <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp CoachME admin ยืนยันการสั่งซื้อ </h4>
                                    <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp ใช้งานตามสิทธิ์  </h4>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="file" name="slipImage" id="slip_3" class="btn btn-primary" style="display:none">
                                    <button type="submit" id="btnAdvancePlan" name="btnPlan" value="Advance" class="btn btn-secondary" style="display:none">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    if (TempData["MessagePurchase"] != null)
                    {

                        <script>
                            $(document).ready(function () {
                                $("#m_modal_success").modal('show')
                            });

                        </script>
                        <div class="modal fade" id="m_modal_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h4 class="m--font-bold m--font-bold"><span class="m-badge m-badge--success m-badge--dot"></span>&nbsp @TempData["MessagePurchase"]</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="close_curr_modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>

    <!--end::Portlet-->
</div>
<script>

    $("#slip_1").change(function () {
        debugger;

        Slip_1(this);
    });

    function Slip_1(input) {

        debugger;

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            $("#slip_2").remove();
            $("#slip_3").remove();
            debugger;
            $('#btnBasicPlan').trigger('click');
        }
    }

    $("#slip_2").change(function () {
        debugger;

        Slip_2(this);
    });

    function Slip_2(input) {

        debugger;

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            $("#slip_1").remove();
            $("#slip_3").remove();
            debugger;
            $('#btnProPlan').trigger('click');

        }
    }

    $("#slip_3").change(function () {
        debugger;

        Slip_3(this);
    });

    function Slip_3(input) {

        debugger;

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            $("#slip_2").remove();
            $("#slip_1").remove();
            debugger;
            $('#btnAdvancePlan').trigger('click');


        }
    }

</script>
