
@{
    ViewBag.Title = @"CoachME, เว็บไซต์หางานสอน บริหารงานสอน สำหรับครูหรือโค้ช ด้านวิชาชีพ
สอนดนตรี ศิลปะ การแสดง เขียนโปรแกรม ทำหุ่นยนต์ การเงิน
ไม่มีค่าธรรมเนียม ไม่มีค่านายหน้า จบครบในเว็บเดียว";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Index</h2>

