
@{
    ViewBag.Title = "MatchTeacher";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<section ng-app="Student" ng-controller="StudentController" ng-init="GetComponent()">
    <script src="~/Scripts/loadingoverlay.js"></script>
    <div class="m-content">
        <div class="row" id="listMatchTeacher">
        </div>
    </div>
</section>

