
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Dashboard</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-4">

            <!--begin:: Widgets/Announcements 1-->
            <div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Announcements
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
                                    <i class="la la-ellipsis-h m--font-light"></i>
                                </a>
                                 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <!--begin::Widget 7-->
                    <div class="m-widget7 m-widget7--skin-dark">
                        <div class="m-widget7__desc">
                            เรากำลังพัฒนาเมนูภาพรวม แสดงจำนวนครั้งที่สอน จำนวนผู้เรียน รายได้ วิเคราะห์สถิติ หากสนใจเมนูไห้กดปุ่มสนใจ
                        </div>
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                @*<img class="m-widget7__img" src="~/Content/images/teacher/reen.jpg" alt="">*@
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                    <br />
                                   HOT-LINE : 082-524-4830
                                </span> 
                            </div>
                        </div>
                        <div class="m-widget7__button">
                            <a class="m-btn m-btn--pill btn btn-danger" href="#" role="button">สนใจ คลิ๊ก!!!</a>
                        </div>
                    </div>

                    <!--end::Widget 7-->
                </div>
            </div>

            <!--end:: Widgets/Announcements 1-->
        </div>
        <div class="col-xl-4">

            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-action">
                          
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget19">
                        <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                            <img src="~/Content/images/teacher/reen.jpg" alt="">
                            <h3 class="m-widget19__title m--font-light">
                                Introducing CoachME
                            </h3>
                            <div class="m-widget19__shadow"></div>
                        </div>
                        <div class="m-widget19__content">
                            <div class="m-widget19__header">
                                <div class="m-widget19__user-img">
                                    <img class="m-widget19__img" src="~/Content/images/teacher/reen.jpg" alt="">
                                </div>
                                <div class="m-widget19__info">
                                    <span class="m-widget19__username">
                                        Reen Srisuplee
                                    </span><br>
                                    <span class="m-widget19__time">
                                       CEO, CoachME.asia
                                    </span>
                                </div>
                                <div class="m-widget19__stats">
                                    <span class="m-widget19__number m--font-brand">
                                         
                                    </span>
                                    <span class="m-widget19__comment">
                                        
                                    </span>
                                </div>
                            </div>
                            <div class="m-widget19__body">
                             
                                เว็บไซต์หางานสอน บริหารงานสอน สำหรับครูหรือโค้ช ด้านวิชาชีพ
                                สอนดนตรี ศิลปะ การแสดง เขียนโปรแกรม ทำหุ่นยนต์ การเงิน
                                ไม่มีค่าธรรมเนียม ไม่มีค่านายหน้า จบครบในเว็บเดียว
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Blog-->
        </div>
        <div class="col-xl-4">

            <!--begin:: Widgets/Announcements 2-->
            <div class="m-portlet m--bg-danger m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                CoachME ทำงานอย่างไร?
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
                                    <i class="la la-ellipsis-h m--font-light"></i>
                                </a>
                                 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <!--begin::Widget 7-->
                    <div class="m-widget7 m-widget7--skin-dark">
                        <div class="m-widget7__desc">
                            1.ผู้สอนสร้างโปรไฟล์ กรอกรายละเอียดคอร์ส<br />
                            2.ผู้เรียนติดต่อ CoachME เมื่อต้องการครูสอน<br />
                            3.ผู้เรียนชำระเงินผ่าน CoachME  

                        </div>
                        <div class="m-widget7__user">
                             
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                    <br />
                                  Email: info@coachme.asia
                                </span> 
                            </div>
                        </div>
                        <div class="m-widget7__button">
                            <a class="m-btn m-btn--pill btn btn-accent" href="#" role="button">Hot-line: 0825244830</a>
                        </div>
                    </div>

                    <!--end::Widget 7-->
                </div>
            </div>

            <!--end:: Widgets/Announcements 2-->
        </div>
    </div>

    <!--End::Section-->
</div>