@{
    ViewBag.Title = @"CoachME, เว็บไซต์หางานสอน บริหารงานสอน สำหรับครูหรือโค้ช ด้านวิชาชีพ
สอนดนตรี ศิลปะ การแสดง เขียนโปรแกรม ทำหุ่นยนต์ การเงิน
ไม่มีค่าธรรมเนียม ไม่มีค่านายหน้า จบครบในเว็บเดียว";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Dashboard</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-4">
            @using (Html.BeginForm("survey", "teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <!--begin:: Widgets/Announcements 1-->
            <div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Announcements
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
                                    <i class="la la-ellipsis-h m--font-light"></i>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <!--begin::Widget 7-->
                    <div class="m-widget7 m-widget7--skin-dark">
                        <div class="m-widget7__desc">
                            เรากำลังพัฒนาเมนูภาพรวม <br /> 
                            1. แสดงจำนวนครั้งที่สอน <br />
                            2. จำนวนผู้เรียน <br />
                            3. วิเคราะห์สถิติ  
                        </div>
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                @*<img class="m-widget7__img" src="~/Content/images/teacher/reen.jpg" alt="">*@
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                    <br />
                                    HOT-LINE : 082-524-4830
                                </span>
                                @*@if (TempData["Message"] != null)
                                {
                                <br />
                                <div class="class="m-alert__text"">
                                    <strong>บันทึกข้อมูลเรียบร้อย</strong><br />
                                    <p style="text-align:center" > ขอบคุณที่สนใจ!!!</p>
                                </div>
                                }*@
                            </div>
                        </div>

                        <div class="m-widget7__button">
                            <button type="submit" id ="SubmitSurvey" class="m-btn m-btn--pill btn btn-danger" href="#" role="button">สนใจ คลิ๊ก!!!</button>
                        </div>
                    </div>

                    <!--end::Widget 7-->
                </div>
            </div>
            }
            <!--end:: Widgets/Announcements 1-->
        </div>
        <div class="col-xl-4">
            <!--end:: Widgets/Announcements 2-->
        </div>
    </div>

    <!--End::Section-->
</div>
